{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<script type="type/javascript" src="{% static 'frontend-angular/dist/runtime-es2015.js' %}"></script> <script type="type/javascript" src="{% static 'frontend-angular/dist/polyfills-es2015.js' %}"></script> <script type="type/javascript" src="{% static 'frontend-angular/dist/styles-es2015.js' %}"></script> <script type="type/javascript" src="{% static 'frontend-angular/dist/vendor-es2015.js' %}"></script> <script type="type/javascript" src="{% static 'frontend-angular/dist/main-es2015.js' %}"></script>
</head>

<body> <app-root></app-root> <!-- your script files here in JS block --> </body>

</html>
