% extends 'core/base.html' %}

{% block content %}
 <section>
            <div class="container" data-aos="zoom-in" data-aos-duration="1500">
                <div class="row vh-100">
                    <div class="col-12 text-center my-auto">
                        <h2 class="display-2 text-white display-1-2 font-weight-bold text-uppercase">Contact Us</h2><br>
                        <h3 class="text-white font-italic">Let us help you, Breathe Naturally</h3>
                    </div>
                </div>
            </div>
    </section>


    <section class="pt-rem-6">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 my-auto mx-auto">
                   <h3 style="font-weight: 700;">CONTACT US</h3>
                    <p>Leave us a message and we’ll get back to you shortly!</p>
                          
                          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-6318a1b9-2453-4d9d-b2ae-dc42999472c4"></div>
                </div>
            </div>
        </div>
    </section> 

{% endblock content %}